parameters:
  level: 6
  paths:
    - bin/
    - config/
    - src/
    - tests/
  ignoreErrors:
    - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition.*#'
    - '#Call to an undefined method Svc\\VideoBundle\\Entity\\_VideoSuperclass::getId\(\).#'
    - '#Method Svc\\VideoBundle\\Tests\\SvcVideoTestingKernel::configureRoutes\(\) is unused.#'
    - '#Call to an undefined method .*::expects\(\).#'
    - identifier: missingType.iterableValue
    - identifier: missingType.generics
    - identifier: property.unusedType