{% trans_default_domain 'VideoBundle' %}
{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Video group statistics{% endtrans %}
{% endblock %}

{% block body %}
	<h1>
		<i class="fas fa-chart-bar"></i>
		{% trans %}Video group statistics{% endtrans %}
	</h1>


    {{ include('@SvcLog/stats/_stats.html.twig') }}

		<a href="{{ path('svc_video_group_index') }}" class='btn btn-secondary'>{% trans %}Back to list{% endtrans %}</a>

{% endblock %}
