{% trans_default_domain 'VideoBundle' %}
{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Video statistics{% endtrans %}
{% endblock %}

{% block body %}
	<h1>
		<i class="fas fa-chart-bar"></i>
		{% trans %}Video statistics{% endtrans %}
	</h1>

  <div class="row">
    <div class="col-sm">
      Hallo
      <br />
    </div>
    <div class="col-sm-4 col-md-3">
      {{ render_chart(chart) }}
    </div>
  </div>

  {{ include('@SvcLog/stats/_stats.html.twig') }}

	<a href="{{ path('svc_video_admin_index') }}" class='btn btn-secondary'>{% trans %}Back to list{% endtrans %}</a>

{% endblock %}
