{% trans_default_domain 'VideoBundle' %}
{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Video statistics{% endtrans %}
{% endblock %}

{% block body %}


  <div class="row">
    <div class="col-sm">
      <h1>
        <i class="fas fa-chart-bar"></i>
        {% trans %}Video statistics{% endtrans %}
      </h1>
      <br />
    	<a href="{{ path('svc_video_admin_index') }}" class='btn btn-secondary btn-sm'>{% trans %}Back to list{% endtrans %}</a>
    </div>
    <div class="col-sm-6 col-md-5 col-lg-4">
      {{ render_chart(chart) }}
    </div>
  </div>

 	{{ include("@SvcLog/log_viewer/_table.html.twig", {'showFilter': false, 'sourceID': sourceID, 'sourceType': sourceType, 'logLevel': logLevel, 'hideSourceCols': true}) }}


{% endblock %}
