<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/routing
        http://symfony.com/schema/routing/routing-1.0.xsd">

    <route id="svc_video_admin_index" controller="svc_video.controller.admin::index" path="/" >
        <!-- settings -->
    </route>

    <route id="svc_video_admin_new" controller="svc_video.controller.admin::new" path="/new" >
        <!-- settings -->
    </route>

    <route id="svc_video_admin_edit" controller="svc_video.controller.admin::edit" path="/edit/{id}" >
        <!-- settings -->
    </route>

    <route id="svc_video_admin_delete" controller="svc_video.controller.admin::delete" path="/delete/{id}" >
        <!-- settings -->
    </route>

    <route id="svc_video_run" controller="svc_video.controller.run::run" path="/run" >
        <!-- settings -->
    </route>

</routes>