{% trans_default_domain 'VideoBundle' %}
<form action="{{ path('svc_video_list') }}">
  <div class="input-group input-group-sm mb-3">
    <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fas fa-search"></i></span>
    <input type="search" class="form-control" aria-label="{% trans %}Search videos{% endtrans %}"
           name="q" value="{{ q }}" placeholder="{% trans %}Search videos{% endtrans %}">
  </div>
</form>
