{% trans_default_domain 'VideoBundle' %}
{% extends 'base.html.twig' %}

{% block title %}{% trans %}Enter password{% endtrans %}{% endblock %}

{% block body %}
	<div class='form-small'>
		<h1>{% trans %}Enter password{% endtrans %}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success float-end">OK</button>
    {{ form_end(form) }}

		<br/>
		<br/>
	</div>
{% endblock %}
